@import 'breakpoints';
@import 'spaces.scss';
@import 'colors.scss';

#overlay {
  position: absolute;
  top: 0;
  width: 600px;
  height: 100%;
  right: 0;
  z-index: 3;
  background-color: white;
  animation-name: moveInFromSide;
  animation-duration: 2s;

  @include mobile {
    top: 20px;
    width: 100%;
    animation-name: moveInFromBottomToTop;
    border-radius: 25px;
    left: 0;
  }
 }

 @keyframes moveInFromSide {
  0%   { right: -100%;}
}

@keyframes moveInFromBottomToTop {
  0%   { top: 800px;}
}

.head-overlay {
  background-color: $background-color-head-secondary;
  margin-bottom: $space_10;
}

.head-overlay p, .head-overlay h1 {
  color: $text-head-color;
  margin-top: 0;
  margin-bottom: 0;
}
