@import 'spaces.scss';
@import 'colors.scss';

.container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-left: $space_10;
}

.head {
  display: flex;
  padding-left: $space_10;
  width: 100%;
  background-color: $background-color-head;
  align-items: center
}

fit4bit-button {
  margin: 15px;
}
