@import "colors";

button {
  background-color: $background-color-button;
  border: none;
  font-size: 16px;
  padding: 15px 32px;
  border-radius: 5px;
  font-weight: bold;
  margin: 10px 0 10px 0;

  &:hover {
    cursor: pointer;
    background-color: $background-color-hover-button;
  }
}

.disabled {
  cursor: unset;
  background-color: $disabled;
  &:hover {
    cursor: unset;
    background-color: $disabled;
  }
}
