@import 'colors.scss';

table {
  width: 100%;
}

table {
  background-color:$primary-color-table-background;

}
.mat-header-cell {
  color: $primary-color-table-font;
}
.mat-cell{
  color: $primary-color-table-font;
}

.cursor {
  cursor: pointer;
}
