
.cursor {
  cursor: pointer;
}

.cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.chips-container {
  display: flex;
  flex-direction: row;
}

fit4bit-chips {
  margin-left: 20px;
}

.filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}
