<fit4bit-main-content-container [title]="'Lohnabrechnungs Übersicht'">
  <h2>Filter:</h2>
  <div class="chips-container">
    <fit4bit-chips
      [isActive]="filerOffeneTraining"
      [text]="'Offene'"
      (click)="stateFiler()"
    ></fit4bit-chips>
  </div>

  <fit4bit-overlay
    [show]="showOverlay"
    [title]="title"
    (resetOverlayEmitter)="resetOverlay()"
  >
    <fit4bit-payroll-list *ngIf="showOverlay" [selectedPayroll]="selectedPayroll"></fit4bit-payroll-list>


    <div action>
      <fit4bit-button
        (click)="addTrainingsToPayroll()"
        [name]="'Auswahl speichern'"
      ></fit4bit-button>
    </div>
  </fit4bit-overlay>

  <fit4bit-newpayroll></fit4bit-newpayroll>
</fit4bit-main-content-container>

<div class="cards">
  <div *ngFor="let payroll of filteredList">
    <fit4bit-payroll-item-card
      [payroll]="payroll"
      (loadItemClicked)="loadItem(payroll)"
    >
    </fit4bit-payroll-item-card>
  </div>
</div>
