<fit4bit-main-content-container [title]="'Lohnabrechnungs Übersicht'">
  <fit4bit-overlay
    [show]="showOverlay"
    [title]="title"
    (resetOverlayEmitter)="resetOverlay()"
  >
    <fit4bit-payroll-list [title]="title"> </fit4bit-payroll-list>
    <div action>
      <fit4bit-button (click)="addTrainingsToPayroll()" [name]="'Hinzufügen'"></fit4bit-button>
    </div>
  </fit4bit-overlay>

  <fit4bit-newpayroll></fit4bit-newpayroll>
</fit4bit-main-content-container>

<table mat-table [dataSource]="payrollList" class="mat-elevation-z8">
  <ng-container matColumnDef="month">
    <th mat-header-cell *matHeaderCellDef>Monat</th>
    <td
      mat-cell
      *matCellDef="let month"
      (click)="loadItem(month)"
      class="cursor"
    >
      {{ month.month }}
    </td>
  </ng-container>

  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef>Jahr</th>
    <td mat-cell *matCellDef="let month">{{ month.year }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
