<fit4bit-main-content-container [title]="'Lohnabrechnungs Übersicht'">
  <fit4bit-overlay
    [show]="showOverlay"
    [title]="'title'"
    (resetOverlayEmitter)="resetOverlay()"
  >
    <fit4bit-payroll-list [month]="month" [year]="year"> </fit4bit-payroll-list>
    <div action>
      <fit4bit-button (click)="addTrainingsToPayroll()"></fit4bit-button>
    </div>
  </fit4bit-overlay>

  <fit4bit-newpayroll></fit4bit-newpayroll>

  <div *ngFor="let item of payrollList">
    <div (click)="loadItem(item)">
      {{ item.id }}
      {{ item.month }}
    </div>
  </div>
</fit4bit-main-content-container>

<fit4bit-payroll-month-list [payrollList]="payrollList">



</fit4bit-payroll-month-list>
