@import "colors";

.container {
  display: flex;
  width: 200px;
  border: 1px solid $border-color;
  border-radius: 5px;
  background-color: $background-color;

  &:hover {
    background-color: $background-color-selected;
    cursor: pointer;
  }
}

.is-selected {
  background-color: $background-color-selected;
}
