<fit4bit-base-item-card>
  <div class="detail">
    <div class="detail-head">{{ payroll.month }} {{ payroll.year }}</div>
    <div>Status {{ payroll.billState }}</div>
    <div>
     Payroll {{payroll.id}}

      <div class="buttons">
        <button
          mat-stroked-button
          color="primary"
          (click)="loadOverview()"
          [disabled]="payroll.billState !== 'OFFEN'"
        >
          Trainings hinzufügen
        </button>

        <button
          mat-stroked-button
          color="primary"
          [disabled]="payroll.billState !== 'OFFEN'"
        >
          Lohnblatt senden
        </button>
      </div>
    </div>
  </div>
</fit4bit-base-item-card>
