<form fxLayout="column" fxLayoutAlign="center center"
  [formGroup]="formGroup" (ngSubmit)="create()" fxLayoutAlign="center center">

  <mat-form-field appearance="fill">
    <mat-label>Raum</mat-label>
    <mat-select formControlName="roomId">
      <mat-option *ngFor="let room of roomsDtoList" [value]="room.id">
        {{ room.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Typ</mat-label>
    <mat-select formControlName="trainingTypId">
      <mat-option *ngFor="let trainingTyp of trainingTypList" [value]="trainingTyp.id">
        {{ trainingTyp.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Trainer</mat-label>
    <mat-select formControlName="userId">
      <mat-option *ngFor="let user of userList" [value]="user.id">
        {{ user.firstName }} {{ user.email }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!formGroup.valid"
  >
    Speichern
  </button>
</form>
