$background-color: #908D86;
$background-color-icons: #71645E;
$background-color-selected: #A66868;
$background-color-head: #1E1826;
$background-color-button: #A66868;
$background-color-hover-button: #BFA18F;

$text-color: #1E1826;
$text-head-color: #FFFFFF;
$border-color: #71645E;


