$primary-color: #a66868;

$background-color: #908d86;
$background-color-icons: #71645e;
$background-color-selected: #a66868;

$background-color-head-primary: #2f2740;
$background-color-head-secondary: #908d86;

$background-color-button: #a66868;
$background-color-hover-button: #bfa18f;

$text-color: #1e1826;
$text-head-color: #ffffff;
$border-color: #71645e;

$primary-color-table-background: #2f2740;
$primary-color-table-font: white;
