@import "breakpoints";
@import "spaces.scss";
@import "colors.scss";

.overlay {
  position: absolute;
  top: 0;
  width: 200px;
  max-width: 100%;
  height: 100%;
  z-index: 4;
  background-color: white;
  display: flex;
  flex-direction: column;
  transition: left 3s ease;
  left: -100%;
}

.left-overlay {
  margin-bottom: $space_10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.head-overlay {
  display: flex;
  justify-content: end;
}

.open {
  left: 0;
}
