<fit4bit-main-content-container [title]="'Meine Trainings Übersicht'">
  <fit4bit-overlay
    [show]="showOverlay"
    [title]="'Anzahl Kunden erfassen'"
    (resetOverlayEmitter)="resetOverlay()"
  >
    <fit4bit-edit-training
      [receivedTraining]="training"
      *ngIf="training"
    ></fit4bit-edit-training>



  </fit4bit-overlay>

   <div (click)="test()">hdffgdh</div>
  <div *ngFor="let t of trainings">
    <div (click)="loadItem(t)">
      {{ t.id }}
      {{ t.trainingTyp?.name }}
    </div>
  </div>
</fit4bit-main-content-container>
