@import "src/app/styles/colors";
@import "src/app/styles/breakpoints";

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgrey;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.head {
  background-color: $background-color-head-primary;
}

.head p,
.head h1 {
  color: $text-head-color;
  margin-top: 0;
  margin-bottom: 0;
}

.items-container {
  display: flex;
  flex-direction: row;
  padding-right: 5px;
  @include mobile {
    flex-direction: column;
  }
}

.items-container > div {
  padding-right: 15px;
  @include mobile {
    padding: 5px;
  }
}

div > mat-icon {
  vertical-align: text-bottom;
}

.menu-main-item {
  cursor: pointer;
  color: white;
  width: 250px;
}

.menu-sub-item {
  color: white;
  cursor: pointer;
  background-color: black;
  padding-left: 5px;
  border-bottom: 1px white solid;

  @include mobile {
    background-color: unset;
    padding-bottom: 5px;
  }
}
.sub-items-container {
  border-left: 5px $background-color-button solid;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 8px 8px;
  width: 250px;
  visibility: hidden;
  position: absolute;
  z-index: 1;
}
.clicked-item {
  visibility: unset;
}
