<div *ngIf="user$ | async as user; else toLogin" class="items-container">
  <div>
    <a
      routerLink="superior/newuser"
      id="cy-navigation-item-new-user-link"
      *fit4bitHasRole="['ROLE_SUPERIOR']"
      >Person erstellen</a
    >
  </div>

  <div>
    <a
      routerLink="superior/room"
      id="cy-navigation-item-new-room-link"
      *fit4bitHasRole="['ROLE_SUPERIOR']"
      >Raum</a
    >
  </div>
  <div>
    <a
      routerLink="superior/review"
      id="cy-navigation-item-review-link"
      *fit4bitHasRole="['ROLE_SUPERIOR']"
      >Review</a
    >
  </div>
  <div>
    <a
      routerLink="superior/newtrainingtyp"
      id="cy-navigation-item-new-training-typ-link"
      *fit4bitHasRole="['ROLE_SUPERIOR']"
    >
      Neuer Trainings Typ
    </a>
  </div>
  <div>
    <a
      routerLink="superior/newtraining"
      id="cy-navigation-item-new-training-link"
      *fit4bitHasRole="['ROLE_SUPERIOR']"
    >
      Neues Training
    </a>
  </div>
  <div>
    <a
      id="cy-navigation-item-your-training-link"
      routerLink="trainer/overview"
      *fit4bitHasRole="['ROLE_TRAINER']"
    >
      Deine Trainings</a
    >
  </div>
  <div>
    <a
      routerLink="trainer/payroll"
      id="cy-navigation-item-payroll-link"
      *fit4bitHasRole="['ROLE_TRAINER']"
    >
      Monatsabrechnung</a
    >
  </div>
  <div>
    <div
      class="menu-main-item"
      id="cy-navigation-item-personal-menu-link"
      (click)="personalMenuOpen($event)"
    >
      {{ user.username }}
      <mat-icon *ngIf="!personalMenuIsOpen">arrow_drop_down</mat-icon>
      <mat-icon *ngIf="personalMenuIsOpen">arrow_drop_up</mat-icon>
    </div>

    <div class="sub-items-container" [class.clicked-item]="personalMenuIsOpen">
      <div class="menu-sub-item" [class.clicked-item]="personalMenuIsOpen">
        <a
          routerLink="/"
          id="cy-navigation-item-personal-logout-link"
          (click)="logout()"
          >Ausloggen</a
        >
      </div>
    </div>
  </div>
</div>

<ng-template #toLogin
  ><a id="cy-navigation-item-login-link" routerLink="login"
    >Einloggen</a
  ></ng-template
>
