<div *ngIf="user$ | async as user; else toLogin" class="items-container">
  <div>
    <a routerLink="superior/newuser" *fit4bitHasRole="['ROLE_SUPERIOR']"
      >Person erstellen</a
    >
  </div>

  <div>
    <a routerLink="superior/room" *fit4bitHasRole="['ROLE_SUPERIOR']">Raum</a>
  </div>
  <div>
    <a routerLink="superior/review" *fit4bitHasRole="['ROLE_SUPERIOR']"
      >Review</a
    >
  </div>
  <div>
    <a routerLink="superior/newtrainingtyp" *fit4bitHasRole="['ROLE_SUPERIOR']">
      Neuer Trainings Typ
    </a>
  </div>
  <div>
    <a routerLink="superior/newtraining" *fit4bitHasRole="['ROLE_SUPERIOR']">
      Neues Training
    </a>
  </div>
  <div>
    <a routerLink="trainer/overview" *fit4bitHasRole="['ROLE_TRAINER']">
      Deine Trainings</a
    >
  </div>
  <div>
    <a routerLink="trainer/payroll" *fit4bitHasRole="['ROLE_TRAINER']">
      Monatsabrechnung</a
    >
  </div>
  <div>
    <div class="menu-main-item" (click)="openMyMenu($event)">
      {{ user.username }}
      <mat-icon *ngIf="!myMenu">arrow_drop_down</mat-icon>
      <mat-icon *ngIf="myMenu">arrow_drop_up</mat-icon>
    </div>

    <div class="sub-items-container" [class.clicked-item]="myMenu">
      <div class="menu-sub-item">
        <a routerLink="/" (click)="logout()">Ausloggen</a>
      </div>
      <div class="menu-sub-item" [class.clicked-item]="myMenu">
        <a routerLink="/" (click)="logout()">Ausloggen</a>
      </div>
    </div>
  </div>
</div>

<ng-template #toLogin><a routerLink="login">Einloggen</a></ng-template>
