@import 'colors.scss';

/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: 'Roboto', sans-serif ;
  height: 100%;
}

body {
  margin: 0;
}

.content {
  padding-top: 30px;
}

.head p, .head h1 {
  color: $text-head-color;
  margin-top: 0;
  margin-bottom: 0;
}


