<section>
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    [formGroup]="profileForm"
    (ngSubmit)="setAmountOfCustomer()"
  >
    <mat-form-field>
      <mat-label for="amountCustomer">Anzahl Teilnehmer</mat-label>
      <input id="amountCustomer" matInput type="number" formControlName="amountCustomer" />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!profileForm.valid"
    >
      Speichern
    </button>
  </form>
</section>
