<fit4bit-base-item-card>
  <div class="detail-container">
    <div class="card-details">
      <div class="card-title">{{ training?.trainingTyp?.name }}</div>
      <div class="detail-line">
        <div><mat-icon>calendar_today</mat-icon></div>
        <div>{{ training?.runningDate | date: "dd.MM.yyyy" }}</div>
      </div>
      <div class="detail-line">
        <div><mat-icon>watch_later</mat-icon></div>
        <div>{{ training?.runningDate | date: "HH.mm" }}</div>
      </div>
      <div fxHide.lt-sm>Raum: {{ training?.room?.name }}</div>
    </div>

    <form [formGroup]="formGroup" (ngSubmit)="save()">
      <div class="input-field">
        <mat-form-field>
          <mat-label for="amountOfCustomer">Anzahl Kunden erfassen</mat-label>
          <input
            id="amountOfCustomer"
            matInput
            type="number"
            formControlName="amountOfCustomer"
          />
          <mat-error
            *ngIf="formGroup.controls.amountOfCustomer.hasError('required')"
            >Der Wert darf nicht leer sein</mat-error
          >
          <mat-error *ngIf="formGroup.controls.amountOfCustomer.hasError('min')"
            >Mindest Wert 0</mat-error
          >
          <mat-error *ngIf="formGroup.controls.amountOfCustomer.hasError('max')"
            >Max Wert 99</mat-error
          >
          <mat-hint>Wert zwischen 0-99</mat-hint>
        </mat-form-field>
        <button
          class="cy-button-save"
          mat-stroked-button
          color="primary"
          type="submit"
          [disabled]="!(formGroup.dirty && formGroup.valid)"
        >
          Speichern
        </button>
      </div>
    </form>
  </div>
</fit4bit-base-item-card>
