<div class="card-container">
  <div class="img-container">
    <img
      src="https://images.squarespace-cdn.com/content/v1/58cceaa0f5e2314657e4ee36/8caf8801-4627-406b-9445-a91a9a95fc8b/jana.jpg?format=500w"
      alt="Yoga Bild"
      width="100"
      height="100"
    />
  </div>
  <div class="card-details">
    <div>{{ training?.trainingTyp?.name }}</div>
    <div>{{ training?.runningDate }}</div>
    <div>{{ training?.room?.name }}</div>
    <div>{{ training?.amountOfCustomer }}</div>
  </div>
  <div class="card-footer"></div>
</div>
