<fit4bit-side-navigation
  fxHide.gt-xs
  *ngIf="sideBarIsOpen"
  [show]="sideBarIsOpen"
  (resetOverlayEmitter)="sideBarIsOpen = false"
></fit4bit-side-navigation>
<mat-toolbar class="head">
  <div fxHide.gt-xs>
    <button mat-icon-button>
      <mat-icon (click)="sideBarIsOpen = true">menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">Go4Fit</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <fit4bit-menu-content></fit4bit-menu-content>
  </div>
</mat-toolbar>
