@import "colors.scss";

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgrey;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.head {
  background-color: $background-color-head-primary;
}

.head p,
.head h1 {
  color: $text-head-color;
  margin-top: 0;
  margin-bottom: 0;
}

mat-icon {
  color: white;
}
