@import "colors";

.form-content {
  width: 300px;
}

mat-form-field {
  width: 100%;
}

.watch-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px 4px 0 0;
}

.flash {
  animation: color 1s infinite;
  font-weight: bold;
  font-size: 30px;
}

.duration-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  opacity: 0.6;
  padding-bottom: 5px;
}

.watch-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  opacity: 0.6;
  padding-bottom: 5px;
}

.divider {
  padding-top: 3px;
  border-bottom: 0.75px rgba(0, 0, 0, 0.3) solid;
  margin-bottom: 20px;
  width: 100%;
}

.watch-content {
  display: flex;
  align-items: center;
}

.on-hover {
  cursor: pointer;
}

@keyframes color {
  0% {
    color: $background-color-head-primary;
  }
  50% {
    color: white;
  }
  100% {
    color: $background-color-head-primary;
  }
}
