<fit4bit-main-content-container [title]="'Neues Training erfassen'">
  <div class="form-content">
    <form
      fxLayout="column"
      fxLayoutAlign="center center"
      [formGroup]="formGroup"
      (ngSubmit)="create()"
    >
      <mat-form-field>
        <mat-label>Raum</mat-label>
        <mat-select formControlName="roomId">
          <mat-option *ngFor="let room of roomsDtoList" [value]="room.id">
            {{ room.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Typ</mat-label>
        <mat-select formControlName="trainingTypId">
          <mat-option
            *ngFor="let trainingTyp of trainingTypList"
            [value]="trainingTyp.id"
          >
            {{ trainingTyp.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Trainer</mat-label>
        <mat-select formControlName="userId">
          <mat-option *ngFor="let user of userList" [value]="user.id">
            {{ user.firstName }} {{ user.username }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="on-hover">
        <mat-label>Datum</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="startDate" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="duration-container">
        <span (click)="duration.setFocus()" class="on-hover"
          >Dauer des Kurses in [min] *</span
        >
        <fit4bit-quantity-input
          #duration
          formControlName="duration"
          [min]="0"
          [max]="180"
          [increment]="1"
        ></fit4bit-quantity-input>
      </div>
      <div class="divider"></div>

      <div class="watch-container">
        <span (click)="watch.setFocus()" class="on-hover">Startzeit * </span>
        <div class="watch-content">
          <fit4bit-quantity-input
            #watch
            [increment]="1"
            [min]="0"
            [max]="24"
            formControlName="startHour"
          ></fit4bit-quantity-input>
          <div class="flash">:</div>
          <fit4bit-quantity-input
            [increment]="1"
            [min]="0"
            [max]="59"
            formControlName="startMinutes"
          ></fit4bit-quantity-input>
        </div>
      </div>
      <div class="divider"></div>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!formGroup.valid"
      >
        Speichern
      </button>
    </form>
  </div>
</fit4bit-main-content-container>
